<h1>Editing budget</h1>

<% form_for(@budget) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%# f.label :valid_from %><br />
    <%# f.date_select :valid_from %>
  </p>
  <p>
    <%# f.label :valid_to %><br />
    <%# f.date_select :valid_to %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @budget %> |
<%= link_to 'Back', budgets_path %>