<h1>Your buckets</h1>

<% @buckets.each do |bucket| %>
      <div class="bucket_title">
        <%= link_to bucket.title, bucket %>
        <br/>
        Total budget for this month:
        <%= curr_budget = bucket.current_budget_amount %>
        <% curr_reserved = bucket.current_trans_amount %>
      </div>
      <div id="#{bucket.name}" class="bucket">
        <ul class="bucklist">
          <li class="redleft">
          
          </li>
          <li class="redin" style=<%="width:#{count_bar_width('red', curr_budget, curr_reserved)}px;"%>>
            <%= curr_reserved %> $
          </li>
          <li class="greenin" style=<%="width:#{count_bar_width('green', curr_budget, curr_reserved)}px;"%>>
            <%= curr_budget - curr_reserved %> $
          </li>
          <li class="greenright">
          
          </li>
        </ul>
        <br/>
      </div>
      <div class="bucket_links">
        <%= link_to "Manage transactions", transactions_path(:for_bucket => bucket.id) %>
        <%= link_to "Manage bills", bills_path(:for_bucket => bucket.id) %>
      </div>
<% end %>
<br />

<%= link_to 'New bucket', new_bucket_path %>