<tr id="transaction_<%= object.id %>" class="<%= Transaction::STATUS_NAME[object.status] %>">
  <td><%= object.title %></td>
  <td><%= object.amount %></td>
  <%= render :partial => "tstatus", :object => object %>
</tr>
