<td id="tstatus_<%= object.id %>">
  <% if object.status == Transaction::STATUS[:unconfirmed] %>
    <button type="button" id="tstatus_button_<%= object.id %>" onclick="<%= toggle_value(object.id, Transaction::STATUS[:confirmed]) %>">Confirm!</button>
    <%= image_tag("spinner.gif", :style => "display:none", :id => "spinner-#{object.id}") %>
  <% else %>
    <%= image_tag("confirm.png", {:style => "width:30px;height30px;"}) %>
  <% end %>
</td>
