<h1>Listing transactions</h1>
<% @transactions.each do |bucket_id, transactions| %>
  <% if transactions.present? %>
    <div>
      <div><h2><%= transactions.first.bucket.title %></h2></div>
      <div>
        <table>
        <% transactions.each do |t| %>
          <tr class="<%= Transaction::STATUS_NAME[t.status] %>">
            <td><%= t.title %></td>
            <td><%= t.amount %></td>
            <td><%= image_tag "confirm.png", {:style => "width:30px;height30px;"}%></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  <% end %>
<% end %>

<br />

<%= link_to 'New transaction', new_transaction_path %>