<h1>Listing transactions</h1>
  <table>
      <tr>
        <td>Pavadinimas</td>
        <td>Suma</td>
      </tr>
</table>
<% @transactions.each do |bucket_id, transactions| %>
  <% if transactions.present? %>
    <div>
      <div><%= transactions.first.bucket.title %></div>
      <div>
        <table>
        <% transactions.each do |t| %>
          <tr class="<%= Transaction::STATUS_NAME[t.status] %>">
            <td><%= t.title %></td>
            <td><%= t.amount %></td>
            <td>CONFIRM PLACEHOLDER</td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  <% end %>
<% end %>

<br />

<%= link_to 'New transaction', new_transaction_path %>