<h1>Listing transactions</h1>

<div id="new_transaction">
  <%= render :partial => "form" %>
</div>

<% @buckets.each do |bucket| %>
    <div>
      <div id="bucket_<%= bucket.id %>_name"><h2><%= bucket.title %></h2></div>
      <div>
        <% if bucket.transactions.current.empty? %>
        &nbsp;&nbsp;&nbsp;<i>None</i>
        <p></p>
        <% else %>
          <table id="bucket_<%= bucket.id %>">
          <% bucket.transactions.current.each do |t| %>
            <%= render :partial => "transaction_line", :object => t %>
          <% end %>
          </table>
        <% end %>
      </div>
    </div>
<% end %>

<br />