<h1>Listing transactions</h1>

<div id="new_transaction">
  <%= render :partial => "form" %>
</div>

<% @transactions.each do |bucket_id, transactions| %>
  <% if transactions.present? %>
    <div>
      <div id="bucket_<%= bucket_id %>_name"><h2><%= transactions.first.bucket.title %></h2></div>
      <div>
        <table id="bucket_<%= bucket_id %>">
        <% transactions.each do |t| %>
          <%= render :partial => "transaction_line", :object => t %>
        <% end %>
        </table>
      </div>
    </div>
  <% end %>
<% end %>

<br />

<%= link_to 'New transaction', new_transaction_path %>