<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Lazy Accounting - <%= controller.controller_name %>: <%= controller.action_name %></title>

  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <%= stylesheet_link_tag 'starter', 'html2' %>
  <%= javascript_include_tag :defaults %>
  

<body>

<!-- #content: holds all except site footer - causes footer to stick to bottom -->
<div id="content">

  <!-- #headerImg: holds the main header image or flash -->
  <div id="headerImg" class="width"></div>

  <!-- #page: holds the page content -->
  <div id="page">
    <!-- #columns: holds the columns of the page -->
    <div id="columns" class="widthPad">
      <span class="right">
        <a href="/user_session/new" style="font-size:16px;">Log in</a>
      </span>
    <!-- Center column -->
    <div class="floatLeft width100 centred">
      <%= yield  %>
    </div>
    <!-- Center column end -->
	
    </div>
    <!-- #columns end -->
	

  </div>
  <!-- #page end -->

</div>
<!-- #content end -->
<div id="footer">

  <div id="bg" class="width">
    <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; padding: 20px" id="bottoms">
      <tr>
        <th style="width: 50%;">Concepts</th>
        <th>How are we differnet?</th>
      </tr>
      <tr>
        <td style="width: 50%;">
          <ul>
            <li>Minimum efforts</li>
            <li>Maximum automatization</li>
            <li>Staying current</li>
            <li>Fun self-control</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>No one moth delay</li>
            <li>No tracking of every single coin</li>
            <li>Simpler and easier to use</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <!-- #bg end -->
</div>
<!-- #footer end -->

</body>

</html>
